#forms {
    padding: 10px;
    margin: 10px;
    width: auto;
    height: 50px;
    gap: 10px;
    display: flex;
}

#forms #btnEnviar {
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 50px;
   
}

