#principal {
    height: 280px;
    width: 390px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

#imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

#imagens img {
    height: 120px;
    width: 160px;
    border-radius: 5px;
    object-fit: cover;
}
