table {
    width: 300px;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
}

button {
    margin-right: 10px;
    padding: 8px 12px;
    cursor: pointer;
}
